
<nav class="row">
  <h1 class="col-md-12">Queue App</h1>
</nav>

<div id="container">
  <div class="row">
    <div class="col-md-6" id="left-col">
      <h3>New Customer</h3>

      <%= form_for @customer, remote: true do |f| %>
        <div class="btn-group" data-toggle="buttons" >

          <label class="btn btn-primary active" id="citizen-btn">
            <%= f.radio_button "customer_type", "citizen", checked: true %> Citizen
          </label>
          
          <label class="btn btn-primary" id="organisation-btn">
            <%= f.radio_button "customer_type", "organisation" %> Organisation
          </label>

          <label class="btn btn-primary" id="anonymous-btn">
            <%= f.radio_button "customer_type", "anonymous" %> Anonymous
          </label>
        </div><br><br>

        <%= f.radio_button "service", "housing", checked: true %>
        <%= f.label "service", "housing" %><br>
        <%= f.radio_button "service", "benefits", checked: true %>
        <%= f.label "service", "benefits" %><br>
        <%= f.radio_button "service", "council-tax", checked: true %>
        <%= f.label "service", "council-tax" %><br>
        <%= f.radio_button "service", "flytipping", checked: true %>
        <%= f.label "service", "flytipping" %><br>
        <%= f.radio_button "service", "missed-bin", checked: true %>
        <%= f.label "service", "missed-bin" %><br><br>
        
        <%= f.label "organisation" %>
        <%= f.text_field "organisation", class: "form-control"%>

        <%= f.label "title" %>
        <%= f.select "title", [["Mr", "Mr"], ["Mrs", "Mrs"], ["Ms", "Ms"]], {}, {class: "form-control"} %>

        <%= f.label "first_name" %>
        <%= f.text_field "first_name", class: "form-control" %>

        <%= f.label "last_name" %>
        <%= f.text_field "last_name", class: "form-control" %>

        <%= f.submit "Submit", class: "btn btn-primary" %>
      <% end %>
    </div>
    <div class="col-md-6 pre-scrollable" id="right-col">
      <h4>Waiting in queue: <%= @customers.count %></h4>
      <table class="table">
        <thead>
          <tr>
            <th>Type</th>
            <th>Name</th>
            <th>Service</th>
            <th>Queued at</th>
          </tr>
        </thead>
        <tbody id="queue">
          <%= render @customers %>
        </tbody>
      </table>



         <div id="queue" class="list-group row">
        </div>
      </ol>
    </div>
  </div>
</div>